* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: yellow;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: circle(0 at center);
}


/* @media(min-width:758px) {
    section {
        clip-path: circle(302px at center);
    }
} */

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor {
    position: relative;
    margin-top: 200vh;
    min-height: 100vh;
    background: #fff;
    padding: 10rem;
}

.contenedor:last-of-type {
    margin-top: 0;
}

.contenedor h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.titulo {
    position: relative;
    top: 25rem;
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.titulo img {
    width: 8rem;
}