*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}


/* Video de fondo */

.contenedor-video {
    position: relative;
    width: 100%;
    height: 100vh;
}

.video-fondo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}


/* Logo */

.logo {
    position: absolute;
    width: 50%;
    /* top: 0; */
    left: 0;
    right: 0;
    /* margin-top: auto; */
    margin-left: auto;
    margin-right: auto;
    bottom: 15%;
}

@media(min-width:768px) {
    .logo {
        width: 15%;
        bottom: 25%;
    }
}


/* Texto */

.texto {
    width: 40%;
    position: absolute;
    border: 3px solid white;
    /* bottom: 10rem; */
    left: 0;
    right: 0;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, .4);
}


/* Main */

.main {
    min-height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: black;
}